<div>
    <div class="table">
        <ul class="title">
            <li>Name:</li>
            <li>Kingdom:</li>
            <li>Rank:</li>
        </ul>
    </div>
    <div class="displayContainer"></div>
    <script src="./js/ranks.js"></script>
</div>