<body>
    <div class="container d-flex flex-column align-items-center py-4 py-xl-5">
        <div class="row gy-4 w-100" style="max-width: 800px;">
            <div class="col">
                <h2 id="resources">Resources: Stone: {{resources.stone}}  Wood: {{resources.wood}}  Iron: {{resources.iron}}  Food: {{resources.food}}</h2>
            </div>
            <div class="col-12">
                {{> Map}}
            </div>
        </div>
        {{!-- <script src="./js/resources.js"></script> --}}