<body>
    <div class="container d-flex flex-column align-items-center py-4 py-xl-5">
        <div class="row gy-4 w-100" style="max-width: 800px;">
            <div class="col">
                <h4 class="text-center">Title</h4>
            </div>
            <div class="col-12">
                <div class="card"><img class="card-img w-100 d-block"
                        src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                    <div
                        class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center p-4">
                    </div>
                </div>

            </div>
        </div>